* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
  height: 400px;
}

label {
  font-size: 40px;
}

input {
  font-size: 30px;
  border-radius: 30px;
}
/* button {
  font-size: 20px;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  margin-top: 70px;
  margin-left: 130px;
} */

.div {
  font-size: 30px;
  background-color: antiquewhite;
  width: 300px;
  height: 300px;
  border: 1px solid #000;
}

#readmore {
  width: 70%;
  margin-top: 0px;
}

.div {
  border-radius: 20px;
  gap: 10px;
  width: auto;
  height: auto;
  background-color: rgb(220, 206, 206);
  margin-top: 10px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.del {
  width: 50px;
  height: 33px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.del:hover {
  background-color: rgb(230, 217, 217);
}

.edit {
  width: 50px;
  height: 33px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.edit:hover {
  background-color: rgb(230, 217, 217);
}
